.first {
	height: 540px;
	background: url(../images/second/wyu/wyu_web_bg.jpg) no-repeat;
}
.first-content {
	margin: 0 auto;
	width: 1000px;
	color: #fff;
}
.first-content .title {
	padding-top: 145px;
	text-align: center;
	font-size: 80px;
}
.second {
	height: 300px;
	background-color: #63b8a1;
}
.second-content {
	position: relative;
	margin: 0 auto;
	padding-top: 125px;
	padding-left: 77px;
	padding-right: 47px;
	width: 1000px;
	font-size: 14px;
	color: #fff;
	box-sizing: border-box;
}
.second .imgcomp {
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -404px;
	width: 808px;
	height: 352px;
	background: url(../images/second/wyu/wyu_web_computer.png) no-repeat;
}
.third {
	position: relative;
	overflow: hidden;
}
.third:before {
	content: '';
    position: absolute;
    right: -50%;
    width: 85vw;
    height: 85vw;
    margin: auto;
    border-radius: 50%;
    background-color: #69d2ba;
    top: 290px;
    z-index: -99;
}
.third:after {
	content: '';
    position: absolute;
    left: -50%;
    width: 85vw;
    height: 85vw;
    margin: auto;
    border-radius: 50%;
    background-color: #69d2ba;
    top: 2145px;
    z-index: -99;
}
.bottom-right-circle {
	position: absolute;
	right: -40%;
	width: 85vw;
	height: 85vw;
	margin: auto;
	border-radius: 50%;
	background-color: #69d2ba;
	bottom: 1500px;
	z-index: -99;
}
.third-content {
	margin: 0 auto;
	padding-top: 86px;
	width: 1000px;
}