.first{
    width:100%;
    height:700px;
    background-size:100% 100%;
	background-position: center;
    position:relative;
   	background:url(../images/second/yuer/yuer_bg.jpg) no-repeat;
    background-size: cover;
}
.first img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}
.second{
    width: 100%;
    height: 784px;
    background: #fff;
}
.second .s-content {
	margin: 0 auto;
	width: 1000px;
}
.second .s-logo {
	margin: 0 auto;
	margin-bottom: 50px;
    padding-top: 90px;
    width: 186px;
    height: 172px;
    background: url(../images/second/yuer/yuer_logo.png) 50% 90px no-repeat;
}
.second .s-text {
	font-size: 14px;
	color: #0064be;
	line-height: 1.8;
}
.second .s-advant-list {
	overflow: hidden;
	margin-top: 20px;
}
.second .s-advant-item {
	float: left;
	display: table;
	margin-top: 60px;
	color: #0064be;
}
.second .s-advant-item:nth-child(odd) {
	width: 45%;
}
.second .s-advant-item:nth-child(even) {
	width: 55%;
}
.second .s-advant-item > div {
	display: table-cell;
	vertical-align: middle;
}
.second .s-ad-icon {
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.second .s-ad-title {
	font-size: 36px;
}
.second .s-ad-text {
	font-size: 14px;
	line-height: 1.9;
}
.three .f-top {
	/* height: 870px; */
	background-color: #38b1ff;
}
.three .f-bottom {
	/* height: 540px; */
	background-color: #15dfde;
}
.three-content {
	position: relative;
}
.three .f-center {

}
.f-phone {
	position: absolute;
	top: 145px;
	width: 100%;
	height: 1000px;
	background: url(../images/second/yuer/yuer_three_phone.png) 39% 0 no-repeat;
	background-size: contain;
}
.f-top .f-top-text {
	margin-left: 48%;
	padding-bottom: 28%;
}  
.f-step {
	display: table;
}
.step-cell {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.f-top .s-num {
	padding-right: 25px;
	width: 55px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	font-size: 100px;
	color: #70c2ff;
}
.step-cell .cell-title {
	font-size: 36px;
}
.step-cell .cell-info {
	font-size: 20px;
}
.f-bottom-text {
	width: 49%;
	text-align: right;
	padding-left: 25%;
	padding-top: 8%;
}
.f-bottom .f-step {
	width: 520px;
	text-align: right;
}
.f-bottom .s-num {
	padding-left: 25px;
	font-family: Microsoft YaHei;
	font-weight: bold;
	font-size: 100px;
	color: #60e6e3;
}
.four {
	position: relative;
	padding-bottom: 90px;
	background: url(../images/second/yuer/yuer_four_bg.jpg) 50% 50% no-repeat;
	background-size: cover;
}
.four .img-content {
	overflow: hidden;
	margin: 0 auto;
	padding-top: 5%;
	width: 55%;
}
.four .img-item {
	width: 100%;
}
.four .btn-content {
	display: block;
	margin: 0 auto;
	margin-top: 45px;
	width: 284px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 36px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 40px;
	cursor: pointer;
}
.five {
	position: relative;
	// height: 1220px;
}
.five-content {
	margin: 0 auto;
	margin-top: 94px;
	width: 1000px;
	text-align: center;
}
.five-content .text {
	display: inline-block;
	width: 728px;
	text-align: left;
	font-size: 14px;
	color: #0064be;
}
.five-content .step-title {
	margin-top: 30px;
	font-size: 36px;
	color: #0064be;
}
.five-slider {
	overflow: hidden;
	height: 770px;
}
.five-slider .arrow-left,
.five-slider .arrow-right {
	margin-top: 310px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	cursor: pointer;
}
.five-slider .arrow-left {
	float: left;
	background: url(../images/second/yuer/yuer_five_arrowleft.png) no-repeat;
	background-size: contain;
}
.five-slider .arrow-right {
	float: right;
	background: url(../images/second/yuer/yuer_five_arrowright.png) no-repeat;
	background-size: contain;
}
.five-slider .slider-wrapper {
	float: left;
	width: 716px;
	overflow: hidden;
}
.five-slider .slider-outer {
	position: relative;
	margin: 0 auto;
	width: 600px;
	height: 767px;
	background: url(../images/second/yuer/yuer_five_slider0.png) 0% 0 no-repeat;
}
.five-slider .slider-inner {
	position: absolute;
	top: 140px;
	left: 87px;
	width: 463px;
	height: 625px;
	overflow: hidden;
}
.five .five-banner {
	position: absolute;
	width: 100%;
	height: 520px;
	background: url(../images/second/yuer/yuer_five_banner.png) no-repeat;
	background-size: cover;
	z-index: 999;
	bottom: -450px;
}
.six {
	background: url(../images/second/yuer/yuer_six_bg.jpg) no-repeat;
	background-size: cover;
	position: relative;
	z-index: 99;
	top: 350px;
}
.six-title {
	padding-top: 138px;
	text-align: center;
	color: #fff;
	font-size: 36px;
}
.six .video-list {
	margin: 0 auto;
	margin-top: 55px;
	padding-bottom: 136px;
	width: 1016px;
	overflow: hidden;
}
.six .video-item {
	position: relative;
	float: left;
	overflow: hidden;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 328px;
	height: 220px;
}
.six .video-item:before {
	content: "";
	position: absolute;
	top: 70px;
	left: 120px;
	width: 80px;
	height: 80px;
	background: url(../images/second/yuer/yuer_video_icon.png) no-repeat;
	background-size: contain;
	z-index: 999;
}
.video-info {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.77);
}
.six .video-item:hover .videodark {
	display: none;
}
.videodark {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}
.seven {
	padding-top: 75px;
	padding-bottom: 200px;
	margin-top: 350px;
	background: #fff;
}
.seven-title {
	margin-bottom: 80px;
	text-align: center;
	color: #0064be;
	font-size: 36px;
}
.seven-img {
	text-align: center;
	padding-left: 90px;
	padding-right: 80px;
	font-size: 0;
}
.seven-img img {
	max-width: 100%;
}
.eight {
	padding-top: 115px;
	padding-bottom: 235px;
	background-color: #283041;
}
.eight .e-title {
	margin-bottom: 110px;
	text-align: center;
	font-size: 36px;
	color: #fff;
}
.eight .e-content {
	margin: 0 auto;
	width: 1000px;
}
.e-list {
	overflow: hidden;
}
.e-item {
	float: left;
	width: 25%;
	padding-left: 8px;
	padding-right: 8px;
	box-sizing: border-box;
}
.item-circle {
	margin: 0 auto;
	padding-top: 60px;
	width: 212px;
	height: 210px;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
}
.circle1 {
	background: url(../images/second/yuer/yuer_eight_circle1.png) no-repeat;
	background-size: contain;
}
.circle2 {
	background: url(../images/second/yuer/yuer_eight_circle2.png) no-repeat;
	background-size: contain;
}
.circle3 {
	background: url(../images/second/yuer/yuer_eight_circle3.png) no-repeat;
	background-size: contain;
}
.circle4 {
	background: url(../images/second/yuer/yuer_eight_circle4.png) no-repeat;
	background-size: contain;
}
.circle-title {
	font-size: 28px;
}
.circle-info {
	font-size: 20px;
}
.circle-tip {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 200;
}
.item-info {
    margin-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
    width: 250px;
    color: #fff;
    line-height: 2;
    font-size: 14px;
    box-sizing: border-box;
}
.ninth {
	position: relative;
}
.ninth-content {
	margin: 0 auto;
	padding-top: 93px;
	width: 1000px;
	text-align: center;
}
.ninth-title {
	position: absolute;
	top: 90px;
	margin-bottom: 74px;
	width: 100%;
	text-align: center;
	font-size: 36px;
	color: #fff;
}
@media screen and (max-width: 1366px) {
   .ninth-title {
		top: 40px;
		font-size: 30px;
	}
}
.ninth .imgbox {
	font-size: 0;
	background: #181d2e;
}
.ninth .imgbox img {
	width: 100%;
}
.susbox {
	position: fixed;
	right: 0;
	top: 130px;
	z-index: 9999;
	width: 180px;
	color: #fff;
	font-size: 16px;
}
.susbox .susitem {
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
}
.susbox .top-middle,
.susbox .bottom-middle {
	margin-bottom: 5px;
	height: 75px;
	font-size: 16px;
	background: #bfbfbf;
}
.susbox .top {
	padding-top: 170px;
	width: 180px;
	height: 214px;
	background: url(../images/second/yuer/yuer_sus_top.png) no-repeat;
}
.top .arrow {
	background: url(../images/second/yuer/yuer_sus_arrow.png) 10px 30% no-repeat;
}
.top:hover .arrow {
	color: #0064be;
	background: url(../images/second/yuer/yuer_sus_arrow_active.png) 10px 30% no-repeat;
}
.susbox .top-middle {
	padding-top: 14px;
}
.top-middle .arrow {
	background: url(../images/second/yuer/yuer_sus_arrow.png) 10px 30% no-repeat;
}
.top-middle:hover .arrow {
	color: #0064be;
	background: url(../images/second/yuer/yuer_sus_arrow_active.png) 10px 30% no-repeat;
}
.susbox .bottom-middle {
	padding-top: 25px;
}
.bottom-middle .arrow {
	background: url(../images/second/yuer/yuer_sus_arrow.png) 10px 30% no-repeat;
}
.bottom-middle:hover .arrow {
	color: #0064be;
	background: url(../images/second/yuer/yuer_sus_arrow_active.png) 10px 30% no-repeat;
}
.susbox .bot {
	height: 75px;
	font-size: 16px;
	background: #00a0e3;
}
.bot .arrow-top {
	display: block;
	padding-top: 45px;
	text-align: center;
	background: url(../images/second/yuer/yuer_sus_arrowtop.png) 50% 30% no-repeat;
}
.susitem .arrow {
	display: block;
	padding-left: 34px;
}
.susbox .vcode {
	position: absolute;
}
.susbox .vcode1 {
	display: none;
	left: -180px;
	top: 104px;
	width: 167px;
	height: 156px;
	background: url(../images/second/yuer/sus_vcode1.png) no-repeat;
}
.susbox .top:hover .vcode1 {
	display: block;
}
.susbox .vcode2 {
	display: none;
	left: -180px;
	top: -46px;
	width: 170px;
	height: 162px;
	background: url(../images/second/yuer/sus_vcode2.png) no-repeat;
}
.susbox .top-middle:hover .vcode2 {
	display: block;
}
.susbox .vcode3 {
	display: none;
	left: -180px;
	top: -41px;
	width: 167px;
	height: 392px;
	background: url(../images/second/yuer/sus_vcode3.png) no-repeat;
}
.susbox .bottom-middle:hover .vcode3 {
	display: block;
}
