.hide {
	display: none;
}
.yo-title {
	position: relative;
	margin: 0 auto;
	width: 270px;
	font-size: 36px;
	color: #222;
}
.yo-title:before {
	content: "";
	position: absolute;
	top: 25px;
	left: 0;
	width: 38px;
	height: 4px;
	background-color: #222;
	border-radius: 10px;
}
.yo-title:after {
	content: "";
	position: absolute;
	top: 25px;
	right: 0;
	width: 38px;
	height: 4px;
	background-color: #222;
	border-radius: 40px;
}
.first{
    width:100%;
    height:700px;
    background-size:100% 100%;
	background-position: center;
    position:relative;
   	background:url(../images/second/yeyou/yeyou_bg.jpg) no-repeat;
    background-size: cover;
}
.first img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}
.yo-banner {
	height: 260px;
	line-height: 260px;
	color: #fff;
	font-size: 50px;
	text-align: center;
	background: url(../images/second/yeyou/yeyou_banner.png) no-repeat;
	background-size: cover;
}
.yo-second {
	text-align: center;
	background: #fff;
}
.yo-second-logo {
	margin: 0 auto;
	padding-top: 80px;
	width: 220px;
	height: 120px;
	overflow: hidden;
}
.yo-second-logo img {
	width: 100%;
}
.yo-second-text {
	margin: 0 auto;
	padding-top: 34px;
	padding-bottom: 110px;
	width: 1000px;
	text-align: left;
	color: #666;
	font-size: 14px;
}
.yo-third {
	padding-top: 100px;
	text-align: center;
	background-color: #f1f1f1;
}
.yo-third .yo-title {
	margin-bottom: 110px;
}
.yo-third-content {
	margin: 0 auto;
	padding-left: 200px;
	width: 1200px;
}

.proitem {
	float: left;
	margin-right: 60px;
	margin-bottom: 130px;
}
.procircle {
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
	border: 4px solid #f1f1f1;
	border-radius: 50%;
}
.procircle:hover {
	border: 4px solid #ffe100;
}
.procircle:hover .prodark {
	display: none;
}
.prodark {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.49);
}
.circleicon {
	position: absolute;
	top: 0;
	left: 0;
}
.circleinfo {
	font-size: 22px;
	font-weight: 200;
}
.yo-fourth {
	padding-top: 100px;
	text-align: center;
	background-color: #fff;
}
.yo-fourth-content .f-outter {
	margin-top: 20px;
	margin-bottom: 10px;
	display: inline-block;
	width: 280px;
	height: 40px;
	font-size: 18px;
	font-weight: 100;
	line-height: 40px;
	text-align: center;
	border: 2px solid #ffe100;
}
.yo-fourth-content .f-award {
	font-size: 24px;
	line-height: 1.8;
}
.yo-fourth-content .f-award.dot:before {
	content: "";
	position: relative;
	left: -30px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/second/yeyou/yeyou_fourth_icontext.png) no-repeat;
	background-size: contain;
}
.yo-fourth-content .f-award.dot:after {
	content: "";
	position: relative;
	right: -30px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/second/yeyou/yeyou_fourth_icontext.png) no-repeat;
	background-size: contain;
}
.yo-fourth-pic {
	margin-top: 60px;
}
.yo-fourth-pic img {
    width: 100%;
}
.yo-fourth .l-bot {
	margin-top: 95px;
	margin-bottom: 80px;
}
.yo-fourth .tabbox {
	overflow: hidden;
	margin: 0 auto;
	width: 1000px;
}
.yo-fourth .icon {
	float: left;
	width: 38px;
	height: 38px;
	margin-top: 8px;
	cursor: pointer;
}
.yo-fourth .icon-left {
	margin-right: 18px;
	background: url(../images/second/yeyou/yeyou_icon_left.png) no-repeat;
}
.yo-fourth .icon-right {
	background: url(../images/second/yeyou/yeyou_icon_right.png) no-repeat;
}
.yo-fourth .icon-left.active {
	margin-right: 18px;
	background: url(../images/second/yeyou/yeyou_icon_left_active.png) no-repeat;
}
.yo-fourth .icon-right.active {
	background: url(../images/second/yeyou/yeyou_icon_right_active.png) no-repeat;
}
.tabbox .tablist {
	margin-left: 16px;
	margin-right: 16px;
}
.tabbox .tabitem {
	float: left;
	margin-right: 20px;
	width: 280px;
	height: 50px;
	line-height: 50px;
	color: #626262;
	font-size: 18px;
	border: 1px solid #626262;
	cursor: pointer;
}
.tabbox .tabitem.active {
	border: 1px solid #ffe100;
	background: #ffe100;
	color: #333;
}
.video-content {
	position: relative;
	margin-top: 80px;
	background: url(../images/second/yeyou/yeyou_video_bg.jpg) 0 0 no-repeat;
	height: 690px;
	margin-bottom: 350px;
}
.video-text {
	font-size: 36px;
	color: #fff;
	line-height: 6;
}
.video-outer {
	position: relative;
	margin: 0 auto;
	margin-top: -30px;
	width: 1000px;
	height: 634px;
	background: url(../images/second/yeyou/yeyou_video_outer.png) 50% 0 no-repeat;
	background-size: contain;
}
.video-inner {
	position: absolute;
    top: 40px;
    left: 90px;
    right: 90px;
    bottom: 100px;
}
.video-info {
	margin: 0 auto;
	width: 960px;
	line-height: 2;
	font-size: 14px;
	color: #222;
	text-align: left;
}
.yo-site {
	padding-bottom: 180px;
}
.yo-site-title {
	margin-bottom: 30px;
	text-align: center;
	color: #222;
	font-size: 24px;
}
.site-imgitem:hover {
	box-sizing: border-box;
	border: 2px solid #ffc62b;
	box-shadow: 2px 14px 20px 0px #adadad;
}
.site-imgitem {
	position: relative;
	float: left;
	width: 20%;
	overflow: hidden;
	font-size: 0;
}
.site-imgitem img {
	width: 100%;
}
.site-imgitem:hover .site-dark {
	display: none;
}
.site-dark {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.49);
}